@import 'styleguide';
$nav-height: 10vh;
$content-height: 90vh;
$footer-height: 10vh;

/* structural stuff */
body, html {
  margin: 0;
  height: 100%;
  width: 100%;

  color: $offblack;
  font-family: $font-body;
  background-color: $offwhite;

  font-size: 16px;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  height: $nav-height;
  line-height: $nav-height;

  font-family: $font-heading;
  text-transform: uppercase;
  letter-spacing: 0.4em; /* 0.4 em = 400 weight, adjust as necessary */

  #nav-inner {
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    overflow: auto;

    .nav-item {
      float: left;
      width: 25%;
      text-align: center;

      a {
        color: inherit;
        text-decoration: none;

        &.active {
          color: $blue;
        }
      }
    }
  }
}

#content-wrapper {
  padding-top: $nav-height;
  box-sizing: border-box;
  width: 100%;
  min-height: $content-height;

  .img-fullbleed {
    img {
      width: 100%;
    }
  }
}

#footer {
  height: $footer-height;
  background: $offblack;
  color: $offwhite;
  padding: 10px 20px;
  box-sizing: border-box;

  h4 {
    margin: 0;
  }
}

/* Adjustments to tag defaults */
::selection {
  background-color: $blue;
}

p {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}
