@import 'common';

table {
  width: 100%;
  tr {
    td {
      padding: 5px 10px;
      &:nth-child(2) {
        width: 20%;
        text-align: center;
      }
    }

    &:nth-child(even) {
      background: $grey;
      color: $offwhite;
    }

    &:hover {
      background: $blue;
    }
  }
}

#logos {
  text-align: center;

  .sp-logo {
    height: 100px;
    margin: 10px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
    }
  }
}
