@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Lato);
/* use n*$base-unit for all font-sizing, (vertical) spacing */
/* structural stuff */
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #333;
  font-family: "Lato", sans-serif;
  background-color: #fEfDf8;
  font-size: 16px; }

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  height: 10vh;
  line-height: 10vh;
  font-family: "Merriweather", sans-serif;
  text-transform: uppercase; }
  nav #nav-inner {
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    overflow: auto; }
    nav #nav-inner .nav-item {
      float: left;
      width: 25%;
      text-align: center; }

#content-wrapper {
  padding-top: 10vh;
  box-sizing: border-box;
  width: 100%;
  height: 100%; }

/* Adjustments to tag defaults */
::selection {
  background-color: #FFDE00; }

p {
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", sans-serif; }

#content-wrapper #content-column {
  width: 70%;
  margin: 0 auto;
  max-width: 1000px; }

#content-wrapper .portrait {
  float: left;
  width: 20%;
  padding: 10px 20px;
  box-sizing: border-box;
  height: 15em; }
  #content-wrapper .portrait .portrait-img {
    height: 75%; }
  #content-wrapper .portrait .portrait-text {
    height: 25%; }
    #content-wrapper .portrait .portrait-text h3, #content-wrapper .portrait .portrait-text p {
      margin: 0; }
    #content-wrapper .portrait .portrait-text h3 {
      margin-top: 1em; }

@media screen and (max-width: 900px) {
  #content-wrapper .portrait {
    width: 33%; } }
