/* use n*$base-unit for all font-sizing, (vertical) spacing */
/* structural stuff */
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #333;
  font-family: "Proxima Nova", sans-serif;
  background-color: #fEfDf8;
  font-size: 16px; }

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  height: 10vh;
  line-height: 10vh;
  font-family: "Chaparral Pro", sans-serif;
  text-transform: uppercase; }
  nav #nav-inner {
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    overflow: auto; }
    nav #nav-inner .nav-item {
      float: left;
      width: 25%;
      text-align: center; }

#content-wrapper {
  padding-top: 10vh;
  box-sizing: border-box;
  width: 100%;
  height: 100%; }

/* Adjustments to tag defaults */
::selection {
  background-color: #FFDE00; }

p {
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Chaparral Pro", sans-serif; }

#content-wrapper #nameplate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 35%;
  height: 35%; }
  #content-wrapper #nameplate img {
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    width: 100%; }

#content-wrapper #popup {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: center; }
